.login-container {
  margin: auto;
  margin-top: 45px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
  width: 40%;
  box-shadow: 2px 2px 2px 3px #ededed;
}
.title .sub-title {
  color: #000033;
}

.title {
  font-size: 22px;
}

.sub-title {
  width: 80%;
}

.sub-title h5 {
  margin-bottom: 0;
  font-size: 16px;
  padding-top: 20px;
}

.sub-title p {
  font-size: 14px;
  color: #9d9d9d;
}

.remember-user {
  font-size: 14px;
  padding-top: 15px;
  color: #9d9d9d;
}

.action {
  margin-top: 10px;
}

.footer span {
  color: blue;
}

.footer span:hover {
  cursor: pointer;
}

.invalid {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}
